<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.filename %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/content-styles.css">
    <link rel="stylesheet" href="/fileView-styles.css">


</head>
<body>
    <nav>
        <a href="/folders/<%= file.folderId %>">Back to folder</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="file-display">

         <div class="image-container">
            <img 
            src="<%= signedUrl %>" 
            alt="Preview" 
            onerror="this.style.display='none'; this.insertAdjacentHTML('afterend', '<p>No preview available</p>');"
          ></div>
         <div class="file-info-container">
             <h3><%= file.filename %></h3>

             <div class="image-details">
                <label>Date uploaded</label>
                <p><%= formattedDate %></p>
                <label>File size</label>
                <p><%= formattedSize %></p>
                <label>Data type</label>
                <% if (file.mimetype.length <= 20) { %>
                    <p><%= file.mimetype %></p>
                <%} else {%>
                    <p><%= file.filename.split('.').pop()%></p>
                <%}%>
             </div>

             
             <div class="buttons">
                 <a class="download-btn" href="<%= signedUrl %>" download="<%= file.filename %>">
                    <button>Download</button>
                         </a >
                 <form action="/file/<%= file.id %>/delete?folderId=<%= file.folderId %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this file?');">
                    <button class="delete-file-btn" type="submit" >Delete file</button>
                </form>
             </div>
         </div>

    </div>

   


    
</body>
</html>


